name: Digest

on:
  schedule:
    # Run at 5:00 AM UTC every day
    - cron: "0 5 * * *"
  # Allow manual triggering
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  # Deploy the Digest
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    needs: build

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build the Digest
        uses: ./.github/workflows/build.yml

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: "github-pages-${{ github.sha }}"
